<md-card>
  <div>
    <img ng-src="{{vm.faction.logoUrl}}" ng-alt="{{vm.faction.name}} logo image" style="margin: auto; height: 200px; width: 200px;" />
  </div>
  <div layout layout-align="center">
    <h1>{{vm.faction.name}}</h1>
  </div>
  <md-divider/>
  <p>
    <i>Diplomacy: </i> {{vm.faction.diplomacy}}
    <br>
    <i>Homeworld: </i> {{vm.faction.homeworld}}
    <br>
    <i>Biography: </i> {{vm.faction.biography}}
    <br>
    <i>Characters: </i> {{vm.faction.characters}}
  </p>
</md-card>
<md-toolbar layout>
  <md-button>Edit</md-button>
  <span flex></span>
  <div layout layout-align="center">
    <md-button ui-sref="CreateCharacter({ factionId: vm.faction._id })">Create Character</md-button>
  </div>
</md-toolbar>
